body{
    font-family: 'Raleway', sans-serif; 
    background-color: #0F2012;
    color: #EBAD15;
}
/* estilo de cabecera */
header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    min-height: 70px;
    background-color:#0F2012;
    padding: 10px;
    }
    a{
        text-decoration: none;
        color:#EBAD15;
    }
    .logo{
        display: flex;
        align-items:center;
    }
    
    .logo img{
        height: 80px;
        margin-right: 10px;
    }
    nav a{
        font-weight: 500;
        padding-right: 10px;
    }
    nav a:hover{
        color:aliceblue;
    }
    h1{
        text-align: center;
    }
    
.contenedor{
    box-sizing: border-box;
    background-color: #0F2012;
    color: #EBAD15;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.item{
        width:250px;
        height:200px;
        padding: 10px;
        border: #576059 solid;
        text-align: center;
        font-size: large;
        margin: 5px;
}
.formu .form{
    height: 80px;
    width: 100;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 10px;
}
.form div{
    padding: 10px;
}
.formu form input,
.formu form button
select{
    padding: 1,5px;
    border: 0;
    background:none;
    outline: 0;
    color: #EBAD15;
    border-bottom: 1px solid #576059;
    width: 200px;
}
.formu .form button{
    background: #EBAD15;
    border: 0;
    padding: 8px;
    color: #0F2012;
}    
    /* estilo del footer */
footer{
    display: flex;
    flex-flow: column;
    align-items:center;
    padding: 0;
    margin: 0;
    background-color: #0F2012;
    /* margin-bottom: */
    min-height: 100px;
}
.footer img{
    height: 50px;
    align-items: center;
}
.redes div img{
    flex-direction: row;
}
.redes-link{
    padding: 10x;
}
.small{
    text-align: center;
    padding:10px 0px;
    background-color:#576059;
    width: 100%;
}
@media screen and (max-width:700){
    header{
        flex-direction:column;
    }
    nav{
        padding: 10px 0px;
    }
    footer{
        flex-direction: row;
    }
}